<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047316086002-6svmu1u34gb0uvdcllm36jj1sm3d5vdo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047316086002-6svmu1u34gb0uvdcllm36jj1sm3d5vdo</string>
	<key>API_KEY</key>
	<string>AIzaSyCg6aAysT9Em3BdQVSGDVEP0G3BobEOwk4</string>
	<key>GCM_SENDER_ID</key>
	<string>1047316086002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.raywenderlich.RayChat</string>
	<key>PROJECT_ID</key>
	<string>raychat-d96cf</string>
	<key>STORAGE_BUCKET</key>
	<string>raychat-d96cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047316086002:ios:6ee8f5a62910211c40a46b</string>
</dict>
</plist>